h1 {
    display: inline-block;
}

.container {
    padding: 20px;
    background-color: white;
}

main {
    background-color: white;
}

.section {
    color: #ecfeff;
    display: inline-block;
    background-color: #4fa3de;
    border-radius: 5px;
    padding-left:auto;
    margin-left: 170px;
    margin-top: 50px;

}

.section1 {
    color: rgb(10, 252, 171);
    display: inline-block;
    background-color: #ecfeff;
    border-radius: 5px;
    padding-left:auto;
    margin-left: 10px;
    margin-top: 50px;
}