h1 {
    display: inline-block;
}

.container {
    padding: 20px;
    background-color: white;
}

main {
    background-color: white;
}

.task {
    color: #ecfeff;
    display: inline-block;
    background-color: #4fa3de;
    border-radius: 5px;
    padding-left:auto;
    margin-left: 170px;
    margin-top: 50px;

}

.task2 {
    color: rgb(10, 252, 171);
    display: inline-block;
    background-color: #ade6e9;
    border-radius: 5px;
    padding-left:auto;
    margin-left: 10px;
    margin-top: 50px;
}

hr {
    color:rgb(223, 241, 241);
    margin-top: 20px;
}

h2 {
    margin-left: 170px;
    margin-top: 20px;
}

.position{
    margin-left: 170px;
    margin-top: 5px;
}

h4 {
    display: inline-block;
}


.blu {
    background-color:#4fa3de ;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.viola {
    background-color:#924fde ;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.verde {
    background-color:#2abb3f ;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.arancione {
    background-color:#e1782d ;
    border-radius: 5px;
    color: white;
    padding: 5px;
}